<%= form_with(model: inscription) do |form| %>
  <% if inscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inscription.errors.count, "error") %> prohibited this inscription from being saved:</h2>
      <ul>
        <% inscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if current_user.admin? %>
      <%= form.label :state %> <br>
      <%= form.text_field :state, :default => 1 %>
    <% else %>
    <%= form.hidden_field :state, :value => 1 %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :event_id %> <br>
    <%= form.collection_select(:event_id, Event.all, :id, :name) %>
  </div>
  
  <div class="form-group">
    <%= form.label :payment %> <br>
    <%= form.collection_select(:payment, Event.all, :cost, :name) %>
  </div>

  <div class="form-group"> <br>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', inscriptions_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
