<br>

<p>
  <strong>First name:</strong>
  <%= @speaker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @speaker.last_name %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @speaker.biography %>
</p>

<p>
  <strong>Work experience:</strong>
  <%= @speaker.work_experience %>
</p>

<p>
  <strong>University:</strong>
  <%= @speaker.university %>
</p>

<p>
  <strong>Category:</strong>
  <%= @speaker.category_id %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker), class: 'btn btn-primary' %> |
<%= link_to 'Back', speakers_path, class: 'btn btn-secondary' %>
